@import "variables";

.projectHeader {
  background: $primary1;
  opacity: 99%;
  min-height: 100vh;

  h1 {
    text-align: center;
    color: $primary2;
  }
  p {
    color: $primary1;
  }
}
.carouselFlex {
  display: flex;
  flex-direction: row;

  img {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
  }
}

.carouselText {
  p {
    color: $primary2;
    text-align: center;
  }
}

.icon {
  color: $primary2;
  font-size: 2rem;
  display: flex;
  justify-content: center;

  padding-bottom: 10px;
  i {
    margin-left: 40px;
  }
}

.live {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary1;
  padding: 0;
  margin: 0;
  p {
    color: $primary2;
  }
  a {
    padding: 0 20px;
    margin: 0;
    color: $primary2;
  }
}
