@import "variables";

.projectHeader {
  background: $primary1;
  opacity: 99%;
  min-height: 100vh;

  h1 {
    text-align: center;
    color: $primary2;
  }
  p {
    color: $primary1;
  }
}

.projectFlexContainer {
  display: flex;
  justify-content: space-between;
  border: solid $primary2 3px;

  flex-wrap: wrap;
  flex: 1 1 auto;
  padding: 20px;
  margin-bottom: 30px;
}

.projectFlexColumn {
  box-shadow: rgba(4, 128, 218, 0.6) 0px 10px 90px;
  // border: solid $primary2 3px;
  padding: 10px;
  margin-bottom: 40px;
  width: 48%;
  img {
    display: block;
  }
  p {
    text-align: left;
    color: $primary2;
    padding: 20px 5px;
  }
  a {
    color: $primary2;
  }
}
.icon {
  color: $primary2;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.live {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary1;
  padding: 0;
  margin: 0;
  p {
    color: $primary2;
  }
  a {
    padding: 0 20px;
    margin: 0;
  }
}
