html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.indexHeader {
  position: relative;
}

.indexHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/tractor6-1920.jpg");
  background-repeat: no-repeat;
  background-position: right;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.headerText {
  width: 75%;
  opacity: 99%;
  color: #263547;
  font-weight: 700;
  height: 100vh;
  padding-top: 100px;
  padding-left: 70px;
}

.indexText {
  font-size: 2.2rem;
}

.overlay {
  background: #FDCF43;
  opacity: 70%;
  width: 25%;
  height: 100vh;
}

.overlayText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 70px;
}

.overlayText h2 {
  color: #263547;
  padding: 10px 0;
  font-weight: 700;
  font-size: 2.2rem;
}

.overlayText p {
  font-size: 1.8rem;
  color: #263547;
}

.circle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: #263547;
}

nav {
  padding-top: 100px;
}

nav li {
  margin-top: 10px;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  width: 50px;
}

nav a {
  color: #263547;
}

nav li:hover {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

nav a:hover {
  -webkit-text-decoration: #263547;
          text-decoration: #263547;
}

nav p {
  margin-left: 40px;
}

.getInTouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.getInTouch i {
  font-size: 2rem;
}

.getInTouch li {
  margin-right: 20px;
}

.getInTouch li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.getInTouch i:hover {
  color: ghostwhite;
}

.hamburger {
  color: black;
  opacity: 99%;
  font-size: 2rem;
  text-align: right;
  margin: 0 60px;
  display: none;
}

.profileHeader {
  background: white;
  opacity: 99%;
  min-height: 100vh;
}

.profileHeader h1 {
  color: #263547;
}

.profileHeader p {
  color: #263547;
}

.profileText {
  font-size: 1.8rem;
  line-height: 1.6;
}

.projectHeader {
  background: #263547;
  opacity: 99%;
  min-height: 100vh;
}

.projectHeader h1 {
  text-align: center;
  color: #FDCF43;
}

.projectHeader p {
  color: #263547;
}

.carouselFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.carouselFlex img {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.carouselText p {
  color: #FDCF43;
  text-align: center;
}

.icon {
  color: #FDCF43;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

.icon i {
  margin-left: 40px;
}

.live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #263547;
  padding: 0;
  margin: 0;
}

.live p {
  color: #FDCF43;
}

.live a {
  padding: 0 20px;
  margin: 0;
  color: #FDCF43;
}

.center {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  background: #263547;
}

.center p {
  color: #FDCF43;
}

h3 {
  letter-spacing: 5px;
  color: #FDCF43;
  font-size: 2.8rem;
}

.skillBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
}

.skillBox p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}

.skill {
  background: #FDCF43;
  padding: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.skillLevel {
  background: #263547;
  width: 100%;
  height: 10px;
}

@media (max-width: 1330px) {
  .overlayText h2 {
    font-size: 1.4rem;
  }
  .overlayText p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1020px) {
  .getInTouch li {
    margin-right: 7px;
  }
}

@media (max-width: 940px) {
  .hamburger {
    display: block;
  }
  .hamburger i {
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
}

footer {
  text-align: center;
  background-color: #FDCF43;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
}

footer p {
  color: #263547;
  padding: 20px 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  width: 90%;
}

img {
  width: 100%;
}

h1,
h2,
h3,
p,
a,
li {
  margin: 0 20px;
  line-height: 1.6;
  font-family: "Eczar", serif;
}

h1 {
  font-size: 4.2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
